<div class="container m-3">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">OV</th>
        <th scope="col">Descripción</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha Reserva</th>
        <th scope="col">Atendido por</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><button type="button" class="btn btn-info">Detalles adicionales</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td><button type="button" class="btn btn-info">Detalles adicionales</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td><button type="button" class="btn btn-info">Detalles adicionales</button></td>
      </tr>
    </tbody>
  </table>
</div>
