<h1 mat-dialog-title>Generar factura</h1>
<div mat-dialog-content>
  <form [formGroup]="formGeneraFactura" (ngSubmit)="onGeneraFactura()">
    <div class="mb-3">
      <label for="codFactura" class="form-label">Código</label>
      <input
        type="text"
        id="codFactura"
        formControlName="codFactura"
        class="form-control"
        [value]="this.codigoFac"
        required
      />
    </div>
    <div class="mb-3">
      <label for="formaPago" class="form-label">Forma de pago</label>
      <select
        id="formaPago"
        class="form-select"
        formControlName="formaPago"
        required
      >
        <option selected value="EFECTIVO">EFECTIVO</option>
        <option value="TARJETA">TARJETA</option>
        <option value="OTRO">OTRO</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="productoId" class="form-label">Producto</label>
      <select
        id="productoId"
        class="form-select"
        formControlName="productoId"
        required
      >
        <option *ngFor="let producto of productos" value="{{ producto.id }}">
          {{ producto.id }}: {{ producto.nombreProducto }} -
          {{ producto.precioProducto }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="fechaPago">Fecha de reserva</label>
      <input
        class="form-control"
        type="date"
        id="fechaPago"
        formControlName="fechaPago"
      />
    </div>
    <div mat-dialog-actions class="d-flex gap-2 p-2">
      <button type="submit" mat-dialog-close mat-button class="btn btn-success">
        Agregar
      </button>
      <button mat-button mat-dialog-close class="btn btn-secondary">
        Cancelar
      </button>
    </div>
  </form>
</div>
