<h1 mat-dialog-title>Modificar producto</h1>
<div mat-dialog-content>
  <form [formGroup]="formModifyProducto" (ngSubmit)="onModifyProducto()" [hidden]="loading">
    <div class="mb-3">
      <label for="nombreProducto" class="form-label">Nombre</label>
      <input
        type="text"
        id="nombreProducto"
        formControlName="nombreProducto"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="descProducto" class="form-label">Descripción</label>
      <textarea
        type="text"
        id="descProducto"
        formControlName="descProducto"
        class="form-control"
        required
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="precioProducto" class="form-label">Precio en US$</label>
      <input
        type="number"
        id="precioProducto"
        formControlName="precioProducto"
        class="form-control"
        step="0.01"
        pattern="\d+(\.\d{1,2})?"
        required
      />
    </div>
    <div mat-dialog-actions class="d-flex gap-2 p-2">
      <button type="submit" mat-button mat-dialog-close class="btn btn-success">
        Modificar
      </button>
      <button mat-button mat-dialog-close class="btn btn-secondary">
        Cancelar
      </button>
    </div>
  </form>
  <app-spinner [loading]="loading"></app-spinner>
</div>
