<h1 mat-dialog-title>Agregar venta</h1>
<div mat-dialog-content>
  <form [formGroup]="formAddVenta" (ngSubmit)="onAddVenta()">
    <div class="mb-3">
      <button class="btn btn-info" (click)="openGeneraFactura()">
        Generar factura
      </button>
    </div>
    <div class="mb-3">
      <label for="ordenVenta" class="form-label">Orden</label>
      <input
        type="text"
        id="ordenVenta"
        formControlName="ordenVenta"
        class="form-control"
        [value]="this.ordenVenta"
        required
      />
    </div>
    <div class="mb-3">
      <label for="descVenta" class="form-label">Detalle de la venta</label>
      <input
        type="text"
        id="descVenta"
        formControlName="descVenta"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="estadoVenta" class="form-label">Estado de la venta</label>
      <select
        id="estadoVenta"
        class="form-select"
        formControlName="estadoVenta"
        required
      >
        <option selected value="RESERVADO">RESERVADO</option>
        <option value="CANCELADO">CANCELADO</option>
        <option value="PAGADO">PAGADO</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="fechaReserva">Fecha de reserva</label>
      <input
        class="form-control"
        type="date"
        id="fechaReserva"
        formControlName="fechaReserva"
      />
    </div>
    <div class="mb-3">
      <label for="clienteId" class="form-label">Cliente</label>
      <select
        id="clienteId"
        class="form-select"
        formControlName="clienteId"
        required
      >
        <option *ngFor="let cliente of clientes" value="{{ cliente.id }}">
          {{ cliente.nombreCliente }} {{ cliente.apellidosCliente }} [{{ cliente.estadoCliente }}]
        </option>
      </select>
    </div>
    <div mat-dialog-actions class="d-flex gap-2 p-2">
      <button
        type="submit"
        mat-button
        mat-dialog-close
        class="btn btn-success"
      >
        Agregar
      </button>
      <button mat-button mat-dialog-close class="btn btn-secondary">
        Cancelar
      </button>
    </div>
  </form>
</div>
